.profile-container {
  height: 100vh;
  width: 100%;
  font-family: var(--text-font);
  /* margin-right:11%; */
  /* background-color: rgb(191, 144, 231); */
  display: grid;
  column-gap: 2%;
  row-gap: 3%;
  /* row-gap: 5%; */
  grid-template-columns: repeat(9, 1fr);
  /* grid-template-rows: 25% 8% 41% 8%; */
  grid-template-rows: 25% 8% 45% 8%;
  grid-template-areas:
    "dev1 dev1 dev1 dev1 dev1 dev1 dev1 dev1 dev1 dev1"
    ". card card tabs tabs tabs tabs tabs tabs ."
    ". card card content content content content content content ."
    ". card card btns btns btns btns btns btns ."; 
}
.dev1-t {
  grid-area: dev1;
  position: relative;
  background-color: #0C1033;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dev1-t .p-quraan{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px; 
  font-weight: 600;
  line-height: 36px;
  width: 40%;
  color: #ffffff;
  font-family: var(--text2-font)
}

.dev1-t::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/lawyer-nav.png');
  background-size: 89px; 
  background-position: top bottom;
  filter: opacity(0.05);
  pointer-events: none;
  /* z-index: 1; */
}

.dev1-t > * {
  position: relative;
  z-index: 2;
}
.card-t {
  grid-area: card;
  background-color: #0c1033; 
}
.card-t {
  position: relative;
}
.card-t::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/lawyer-info.png');
  background-size: 200px; 
  background-position: top bottom;
  filter: opacity(0.03);
  pointer-events: none;
  /* z-index: 1; */
}
.card-t > * {
  position: relative;
  z-index: 2;
}

.tabs-t {
  grid-area: tabs;
}
.content-t {
  grid-area: content;
  overflow: auto;
  /* background-color: rgb(21, 173, 24); */
}

.responsive-table {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  border-collapse: collapse;
  /* background-color: rgb(21, 173, 24);  */
}

.responsive-table th {
  width: 20%;
  padding: 12px;
  font-size: 0.6rem;
  color: aliceblue;
  background-color: #0c1033;
  text-align: right;
}
.responsive-table td {
  padding: 12px;
  line-height: 1rem;
}

.btns-t {
  grid-area: btns;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button {
  flex-grow: 2;
  /* flex-basis: 100; */
  color: #0c1033;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #0c1033;
  border-radius: 1px;
  padding: 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.button:hover {
  background-color: rgba(81, 5, 253, 0.1); 
}

.add-button {
  background-color: #0c1033;
  color: #ffffff;
}

.add-button:hover {
  background-color: #0c1033;
  color: rgba(81, 2, 253, 1);
}

.delete-button {
  color: rgba(198, 57, 57, 1);
  border-color: rgba(198, 57, 57, 1);
}

.delete-button:hover {
  background-color: rgba(81, 5, 253, 0.1);
}

.card-t {
  display: flex;
  flex-direction: column;
  color: #ffffff; 
}

.info-card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* background-color: rgb(119, 43, 149); */
}

.info-card-image {
  margin-top: -45px;
  width: 100px;
  height: 100px;
  object-fit: cover; 
  /* padding-bottom:13px; */
  position: relative;
  z-index: 2;
}

.info-card-name {
  font-size: 0.7em;
  font-weight: bold;
  padding-bottom:13px;
}

.info-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
  font-size:0.7rem;
}

.div-infoo {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.icon {
  font-size: 1.2rem;
}

.info-label{
  color: #817e7e;    
}

@media only screen and (max-width: 500px){
.profile-container{
  /* background-color: chocolate; */
  }
.dev1-t {
  margin-top:17%;
}
.dev1-t .p-quraan{
font-size: 11px; 
line-height: 26px;
width: 70%;
}
.card-t {
margin-right:-50%;
}

.info-card-image {
margin-top: -45px;
width: 70px;
height: 70px;
}

.info-card-name {
font-size: 0.6em;
padding-bottom:13px;
}

.info-card-content {
padding-right: 20px;
font-size:0.6rem;
}


.button {
  padding: 5px 3px;
}
}
@media only screen and (min-width: 500px){
.profile-container{
  /* background-color: rgb(97, 17, 134); */
}
.dev1-t {
  margin-top:49px;
}
.dev1-t .p-quraan{
  font-size: 12px; 
  line-height: 26px;
  width: 50%;
}
.card-t {
  margin-right:-40%;
}

.info-card-image {
  margin-top: -45px;
  width: 70px;
  height: 70px;
}

.info-card-name {
  font-size: 0.6em;
  padding-bottom:13px;
}

.div-infoo {
  column-gap: 12px;
}
.text-container {
  gap:5px;
}

.icon {
  font-size: 1.2rem;
}

.button {
  padding: 15px 3px;
}

}
@media only screen and (min-width: 768px){
  .profile-container{
    margin-right:11%;
    /* background-color: brown; */
    }
  .dev1-t {
    margin-top:0;
  }
.dev1-t .p-quraan{
  font-size: 13px; 
  line-height: 30px;
  width: 50%;
}
.card-t {
  margin-right:0%;
}

.info-card-image {
  margin-top: -45px;
  width: 70px;
  height: 70px;
}

.info-card-name {
  font-size: 0.7em;
  padding-bottom:13px;
}

.info-card-content {
  padding-right: 20px;
  font-size:0.6rem;
}



}
@media only screen and (min-width: 992px){
  .profile-container{
    margin-right:11%;
    }
  .dev1-t {
    margin-top:0;
  }
.dev1-t .p-quraan{
  font-size: 15px; 
  line-height: 36px;
  width: 40%;
}
.card-t {
  margin-right:0%;
}

.info-card-image {
  margin-top: -45px;
  width: 100px;
  height: 100px;
}

.info-card-name {
  font-size: 0.7em;
  padding-bottom:13px;
}

.info-card-content {
  padding-right: 20px;
  font-size:0.7rem;
}


}
@media only screen and (min-width: 1200px){
  .profile-container{
    /* background-color: aqua; */
    }
  .dev1-t {
    margin-top:0;
  }
.dev1-t .p-quraan{
  font-size: 15px; 
  line-height: 36px;
  width: 40%;
}
.card-t {
  margin-right:0%;
}

.info-card-image {
  margin-top: -45px;
  width: 100px;
  height: 100px;
}

.info-card-name {
  font-size: 0.7em;
  padding-bottom:13px;
}

.info-card-content {
  padding-right: 20px;
  font-size:0.7rem;
}


}